{% raw %}
<div ng-controller="AdminController">
  <h2>
    Admin panel
  </h2>
  <button ng-click="ui.display_users = !ui.display_users"
          class="{{ui.display_users ? 'toggled' : ''}}">
    Display users
  </button>
  <br>
  <div ng-if="ui.display_users">
    <label>
      <input type='radio' ng-model="ui.user_active" value='true'>
      Active users
    </label>
    <label>
      <input type='radio' ng-model="ui.user_active" value='false'>
      Inactive users
    </label>
    <ul>
      <li ng-repeat="user in users">
        {{user.username}} (#{{user.id}})
        <button ng-if="ui.user_active == 'false'"
        ng-click="activate_user(user.id)">
          Activate
        </button>
        <button ng-if="ui.user_active == 'true'"
        ng-click="deactivate_user(user.id)" ng-disabled="user.urole == 0 ||
        user.id == current_user.id">
          Deactivate
        </button>
        <button ng-click="delete_user(user.id)" ng-disabled="user.urole == 0 ||
        user.id == current_user.id">
          Delete
        </button>
      </li>
    </ul>
    <div ng-if="users.length == 0">
      No {{ui.user_active == 'true' ? 'active' : 'inactive'}} user
    </div>
    <div ng-if="users.length > 0">
      <button ng-click="decrease_users_page()" ng-disabled="ui.page <= 1">
        Previous page
      </button>
      Page {{ui.page}}/{{ui.max_page}}
      <button ng-click="increase_users_page()" ng-disabled="ui.page >=
      ui.max_page">
        Next page
      </button>
      <br>
      Display <input type="number" ng-model="ui.limit" min=1 max=25> users
    </div>
  <div>
</div>
{% endraw %}
