{% raw %}
<div ng-controller="GameController">
  <h2>
    Game {{current_game.id}}
  </h2>
  <div class="container rows">
    <div>
      <button ng-click="leave_current_game()" ng-if="is_in_current_game()">
        Leave game
      </button>
      <br>
      Users:
      <ul>
        <li ng-repeat="user in current_game.users">
          {{user.username}} {{current_game.owner_id == user.id ? '(owner)' : ''}}
        </li>
      </ul>
      <div ng-if="current_game.status == 0">
        Available bots:
        <ul>
          <li ng-repeat="bot in available_bots">
            {{bot.username}}
            <button ng-click="add_bot_to_current_game(bot.id)" ng-if="current_game.owner_id == current_user.id">
              Add to game
            </button>
          </li>
        </ul>
        <button ng-click="start_current_game()" ng-if="current_game.owner_id ==
        current_user.id">
          Start game
        </button>
      </div>
    </div>
    <div ng-if="current_game.status > 0">
      <div ng-if=is_in_current_game()>
        Your hand:
        <div class="container columns">
          <div ng-repeat="card in current_game_user_hand.cards" class="card">
            {{card.number}}
            <br>
            {{"&#128004;".repeat(card.cow_value)}}
          </div>
        </div>
      </div>
      <div>
        Board:
        <div class="container columns">
          <div ng-repeat="column in current_game_columns">
            <div ng-repeat="card in column.cards" class="card">
              {{card.number}}
              <br>
              {{"&#128004;".repeat(card.cow_value)}}
            </div>
          </div>
        </div>
      </div>
    </div>
  <div>
</div>
{% endraw %}
