{% raw %}
<h2>
  Admin panel
</h2>
<button ng-click="ui.admin.show_users = !ui.admin.show_users"
        class="{{ui.admin.show_users ? 'toggled' : ''}}">
  Show users
</button>
<br>
<div  ng-if="ui.admin.show_users">
  <label>
    <input type='radio' ng-model="ui.admin.user_active" value='true'>
    Active users
  </label>
  <label>
    <input type='radio' ng-model="ui.admin.user_active" value='false'>
    Inactive users
  </label>
  <ul>
    <li ng-repeat="user in admin_panel_users">
      {{user.username}} (#{{user.id}})
      <button ng-if="ui.admin.user_active == 'true'"
      ng-click="deactivate_user(user.id)" ng-disabled="user.urole == 1 ||
      user.id == current_user.id">
        Deactivate
      </button>
      <button ng-if="ui.admin.user_active == 'false'"
      ng-click="activate_user(user.id)">
        Activate
      </button>
    </li>
  </ul>
  <div ng-if="admin_panel_users.length == 0">
    No {{ui.admin.user_active == 'true' ? 'active' : 'inactive'}} user
  </div>
  <div ng-if="admin_panel_users.length > 0">
    <button ng-click="decrease_users_page()" ng-disabled="ui.users.page <= 1">
      Previous page
    </button>
    Page {{ui.users.page}}/{{ui.users.max_page}}
    <button ng-click="increase_users_page()" ng-disabled="ui.users.page >=
    ui.users.max_page">
      Next page
    </button>
    <br>
    Display <input type="number" ng-model="ui.users.limit" min=1 max=25> users
  </div>
<div>
{% endraw %}
