<!DOCTYPE html>
<html ng-app="SixQuiPrendApp">
	<head>
		<title>SixQuiPrend</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- styles -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body ng-controller="SixQuiPrendController">
    {% raw %}
    <div ng-if="!is_logged_in">
      <form novalidate>
        <input type=text ng-model="user.username"/>
        <input type=text ng-model="user.password"/>
        <input type="submit" ng-click="login(user)" value="Login" />
        <input type="submit" ng-click="register(user)" value="Register" />
      </form>
    </div>
    <button ng-click="logout()" ng-if="is_logged_in">
      Logout
    </button>
		<br><br>
    Cards:
    <div ng-repeat="card in cards">
      {{card.number}}: {{card.cow_value}} cows
    </div>
    <br>
    {% endraw %}
		<!-- scripts -->
		<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="{{ url_for('static', filename='main.js') }}"></script>
	</body>
</html>
